@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 



.grid-container{
    display: grid;
<<<<<<< HEAD
    grid-template-columns: 25% auto 25%;
    grid-template-rows: auto;
    background-color: black;
    gap: 10px;
    justify-content: center;
    
}
=======
    grid-template-columns: 1fr; /* Una columna */
    grid-template-rows: auto auto 1fr auto; /* Filas automáticas, contenido principal, fila automática para el pie de página */
    grid-template-areas:
        "header"
        "topnav"
        "nav"
        "main"
        "footer";
    min-height: 100vh; /* Asegura que el contenedor se extienda al menos hasta el alto de la ventana. Puedes ajustarlo según tus necesidades. */
}

header {
    grid-area: header;
    background-color: #01111d;
    color: white;
    padding: 20px;
    text-align: center;
}


>>>>>>> 6712dd8525bed6bd6e8f0467b832eea41a3fa5c4

/*.grid-container > div{
    background-color: black;
    border: 1px solid white;
    
}*/

.item1{
    grid-column: 1 / span 3;
    grid-row: 1;
}

.grid-container .item1{
    background-color: black; ;
}

.grid-container .item1{
    display: inline-flex;
    flex-direction: column;
    float: left;
    padding: 0.75em;
    
}

.grid-container .item1 ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;

}

.grid-container .item1 ul li{
    display: grid;
    
    justify-content: center;
    margin: 0 10em 0 10em;
}

.grid-container .item1 ul li a{
    color: #fff;
}

.grid-container .item1 ul li a:hover{
    font-size: larger;
    /*background: red;
    transition: background 1s linear;*/
    transition: font-size 0.2s linear;

}


a{
    color: rgb(255, 255, 255);
    justify-content: space-between;
    text-decoration: none;
}

.grid-item{
    text-align: center;
    justify-items: center;
    
}

.item2{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    margin-top: 2em;
    align-items: center;
    text-align: center;
}

.item2 img{
    width: 6.5em;
    margin-bottom: 10px;
}

.item2 input{
    border-radius: 12px;
    height: 2em;
    width: 25em;
}

.item2 h2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.item2 h2 span{
    color: rgb(225, 1, 214);
}

.item3{
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 3;    
    margin: 10px 0 0 0;
    background-color: rgb(192, 14, 144);
    color: black;
}

.item3 ul{
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    
}

.item3 ul li{
    list-style: none;
    position: relative;
    padding: 10px 15px;
    transition: 0.5s;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, .2 );
}

.item3 ul li:hover{
    background-color: deeppink;

}

.item3 ul li:last-child{
    border-right: none;
}

.item3 ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

.item3 ul li ul{
    position: absolute;
    background-color: #000;
    top: 38px;
    left: 0;
    display: block;
    width: 155px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.item3 ul li:hover ul{
    opacity: 1;
    visibility: visible;

}

.item3 ul li ul li{
    border-right: none;
    border-bottom: border-right 1px solid rgba(255, 255, 255, .2 );
}

.grid-conteiner{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 28px;
    background-color: #092236;
    padding: 18px;

}

<<<<<<< HEAD

=======
.topnav {
    grid-area: topnav;
    background-color: #092236;
    color: white;
    text-align: center;
    padding: 10px;
    
}
>>>>>>> 6712dd8525bed6bd6e8f0467b832eea41a3fa5c4

.grid-conteiner{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 28px;
    background-color: #092236;
    padding: 18px;

}



main {
    grid-area: main;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;     
}

input{
    width: 37%;
    border-radius: 4px;
}

.minerva-logo img{
    width: 10vw;
    margin: 60px 600px 0 0;
    
}

@media only screen and (max-width: 760px) {
     .minerva-logo img{
      width: 40vw;
    }
  }

.container-logo h2{
    color: #95bdd8;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 2px;
}

.container-logo h2 span {
    color: #0590ec;
    font-family: 'Big Shoulders Stencil Display', cursive;;
    font-weight: 700;
}

footer {
    grid-area: footer;
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center; 
    width: 100%;
}

<<<<<<< HEAD
.grid-container-footer{
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: auto;
    background-color: black;
    gap: 10px;
    justify-content: center;
}

.footer1{
    grid-column: 1 / span 3;
    grid-row: 1;
}



=======
>>>>>>> 6712dd8525bed6bd6e8f0467b832eea41a3fa5c4
.boton {
    width: 150px;
    border-radius: 8px;
}

main {
    grid-area: main;
    padding: 20px;
}

<<<<<<< HEAD
input[type=email]{
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50vh;
}



.material-symbols-outlined { /*Icono de prueba*/
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
=======
>>>>>>> 6712dd8525bed6bd6e8f0467b832eea41a3fa5c4
